<div class="container">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src="images/logo.jpg" style="padding: 30px 0px; width: 80%; min-width:350px; max-width:650px;">
	</div>
	<h3>What is Love Action Project?</h3>

	<p>Love Action Project vision is threefold.</p>

	<p>We seek to provide a platform for
		<ol>
			<li>individuals to embark on social/charity work,</li>
			<li>individuals to showcase their talent and leadership,</li>
			<li>individuals to socialize and network with other like-minded individuals, because we believe people with a good heart deserves to know another.</li>
		</ol>
	</p>

	<p>We advocate the concept of “having fun but never forget to give”. As much as we provide an avenue for individuals to give, we also encourage them to step forward to showcase their talents, and develop their leadership skills with us. In addition, we also create a platform for everyone to socialize and network at the end of the day. Our concept of charity is not just one that provides an avenue to give, but rather, we wish to plant the seeds of charity in our volunteers’ hearts, so that they can reap the benefits of giving, and pay it forward to the society.</p>

	<p>Founded on February 14 2013, Love Action Project started off as a non-profit movement that aims to empower individuals and bring volunteers together. February 14 2015, Love Action Project was incorporated and endorsed as a Social Enterprise by SE Association.</p>

	<h3>Our Vision</h3>

	<p>Here in Love Action Project, we believe in the equal and inherent value of all living life forms in this world. To bring forth humanity, and influence proactive responsibility for all to give unconditionally, be it through the helping humans or animals.</p>

	<h3>Our Mission</h3>

	<p>To be the social enterprise that redefines giving for the society through:
		<ul>
			<li>Social Events Management</li>
			<li>Development of Social Volunteering</li>
		</ul>
	</p>

	<h3>How we do it</h3>

	<p>
		<ul>
			<li><strong>Social Events Management:</strong> Modernising the idea of giving by redefining social events management through relevant, creative and integrative consulting and organisation approach.</li>
			<li><strong>Social Volunteering:</strong> Developing and nurturing volunteers and individuals by providing them a platform to showcase their talents, socialise and planting the seed of charity in their hearts.</li>
			<li><strong>Awareness and Sustainence:</strong> Raise awareness and sustain interest in charity volunteering and causes by introducing the “FUN” element in all our events</li>
		</ul>
	</p>

	<h3>Our Values</h3>

	<p>
		<ul>
			<li><strong>Do the Right Things:</strong> Helping and giving within the legal jurisdiction of the country, society and culture</li>
			<li><strong>Proactive and Creative Engagement:</strong> Both internally within LAP, and externally with the volunteers, charities and other companies</li>
			<li><strong>Have Fun:</strong>Throughout the whole process of giving, from planning, organising to execution!</li>
		</ul>
	</p>

	<h3>Our Business</h3>

	<p>
		<strong>Social Events Management</strong>
		<ul>
			<li>Provide both long and short term consultation to both public and private companies on creative and integrative social giving</li>
			<li>Develop tailored strategies to manage how CSR funds and Budgets can be efficiently and effectively employed to maximise awareness and funds raised for a social cause</li>
			<li>Crowdsourcing to marry relevant sponsors to collectively partake in a cause on a bigger scale</li>
			<li>Crowdfunding to maximise funds raised for social events to generate the right impact and make significant difference</li>
		</ul>
		<br>
		<strong>Social Volunteering</strong>
		<ul>
			<li>Provide a platform to develop and nurture future generations on the idea of giving</li>
			<li>Provide an avenue for volunteers and individuals to showcase their talents to the society</li>
			<li>Expose volunteers and individuals to socialisation and networking</li>
		</ul>
	</p>

	<!-- <h3>How does Love Action Project work?</h3>

	<p>Our team is constantly on the lookout for meaningful projects that fits the vision of our movement. Each project is independently created and crafted by the Love Action Project Team together with the supporting agencies/charity organisations. Our unique value proposition is that, even as we collaborate, we seek to have complete control and responsibility over the projects. This is to allow us to give opportunities for our volunteers to come in and influence the running of the projects, to enhance their involvement and experience of giving. Our volunteers will spend time to provide inputs or even be involved in our planning process weeks before an event, and see through the successful completion of it, knowing that they have been a major contributor to the success of it.</p>

	<p>Every project by Love Action Project requires sponsors. At such, we welcome organisations that wish to embark on charity work to join us.</p>

	<h3>Who should support Love Action Project?</h3>

	<p>Everyone! Bookmark our Website or Like our Facebook page, and visit us regularly to check if we have any upcoming projects!</p>

	<p>Profile of a Project Leader: Individuals who have passion, innovative ideas and a genuine desire to improve the society and environment, and wish to embark on the challenge to run the whole project by him/herself, with the support from the Love Action Project Team.  As a project leader, you can be from an organization or even an individual who wish to leverage on Love Action Project to give. Basically, you are the one that leads, and make the project a reality, with us supporting you at the back.</p>

	 <p>Profile of a Team leader: Individuals who wish to be part of the planning team for a Love Action Project event.  As a team leader, you will lead a certain portion of the event (e.g. Entertainment, Games Management, Children Management, etc.) with the help from the Love Action Project Team. You will join us in brainstorming, planning and the eventual execution the event. Your involvement goes beyond just giving, you lead a team under you, and you make sure they have a pleasurable giving experience like you do.</p>

	<p>Profile of a Volunteer: Individuals who are outgoing and fun-loving, and who are able to contribute their time and expertise . As a volunteer, you choose the project you wish to be involved in, and the area you wish to contribute to. You become part of a social community and play a crucial part in making things happen.</p>

	<p>So support our ongoing projects or volunteer to be part of Love Action Project.</p> -->
</div>