<div class="container">
	<h3>FAQ</h3>
	<br>
	<h5>General</h5>

	<accordion close-others="true">
    <accordion-group is-open="status.open1">
      <accordion-heading>
        What is Love Action Project?
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
      </accordion-heading>
      <p>Love Action Project vision is threefold.</p>
      <p>We seek to provide a platform for</p>
      <ol>
      	<li>individuals to embark on social/charity work,</li>
      	<li>individuals to showcase their talent and leadership,</li>
      	<li>individuals to socialize and network with other like-minded individuals, because we believe people with a good heart deserves to know another.</li>
      </ol>
      <p>We advocate the concept of “having fun but never forget to give”. As much as we provide an avenue for individuals to give, we also encourage them to step forward to showcase their talents, and develop their leadership skills with us. In addition, we also create a platform for everyone to socialize and network at the end of the day. Our concept of charity is not just one that provides an avenue to give, but rather, we wish to plant the seeds of charity in our volunteers’ hearts, so that they can reap the benefits of giving, and pay it forward to the society.</p>
      <p>Founded on February 14 2013, Love Action Project started off as a non-profit movement that aims to empower individuals and bring volunteers together. February 14 2015, Love Action Project was incorporated and endorsed as a Social Enterprise by SE Association.</p>
    </accordion-group>
    <accordion-group  is-open="status.open2">
      <accordion-heading>
        How does Love Action Project Work?
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i>
      </accordion-heading>
      <p>Each project is independently created and crafted by the project creators and the Love Action Project team. Love Action Project, together with the supporting agencies/charity organisations, provides the platform and assistance to realised these projects. We create successful and meaning projects by </p>

      <ul>
        <li><strong>Social Events Management:</strong> Modernising the idea of giving by redefining social events management through relevant, creative and integrative consulting and organisation approach.</li>
        <li><strong>Social Volunteering:</strong> Developing and nurturing volunteers and individuals by providing them a platform to showcase their talents, socialise and planting the seed of charity in their hearts.</li>
        <li><strong>Awareness and Sustainence:</strong> Raise awareness and sustain interest in charity volunteering and causes by introducing the “FUN” element in all our events</li>
      </ul>

      <p>Our team is constantly on the lookout for meaningful projects that fits the vision of our movement and meaningful projects are being created on Love Action Project at any given moment. If you have a good idea for a project, you can <a href="#/contact">contact us</a> or <a href="#/start">start a project</a>. The Love Action Project Team will contact you as soon as we can.</p>
    </accordion-group>
    <accordion-group is-open="status.open3">
      <accordion-heading>
        Why do People Volunteer with Love Action Project?
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open3, 'glyphicon-chevron-right': !status.open3}"></i>
      </accordion-heading>
      <p>There is a long tradition of seeing volunteering as a form of charity, based on altruism and selflessness but people also volunteer for a wide variety of other reasons. Apart from wanting to help others, it is also true that volunteers also benefit from volunteering. At Love Action Project, we would like our volunteers to not only consider volunteering as something you do for people who are not as fortunate as yourself, but also think of it as an exchange.</p>
      <p>Think about how much you receive when you give and consider why you want to volunteer. You may have several different reasons. Here are just a few of the many possible motivations:</p>
      <ul>
      	<li>to feel needed</li>
      	<li>to share a skill</li>
      	<li>to get to know a community</li>
      	<li>to demonstrate commitment to a cause/belief</li>
      	<li>to gain leadership skills</li>
      	<li>to act out a fantasy</li>
      	<li>to do your civic duty</li>
      	<li>because of pressure from a friend or relative</li>
      	<li>satisfaction from accomplishment</li>
      	<li>to keep busy</li>
      	<li>for recognition</li>
      	<li>to donate your professional skills</li>
      	<li>because there is no one else to do it</li>
      	<li>to have an impact</li>
      	<li>to learn something new</li>
      	<li>for escape</li>
      	<li>to help a friend or relative</li>
      	<li>to be challenged</li>
      	<li>to feel proud </li>
      	<li>to make new friends</li>
      	<li>to explore a career</li>
      	<li>as therapy</li>
      	<li>to do something different from your job</li>
      	<li>for fun</li>
      	<li>to earn academic credit</li>
      	<li>to keep skills alive</li>
      	<li>to have an excuse to do what you love</li>
      	<li>to feel good</li>
      	<li>to be part of a team</li>
      	<li>to gain status</li>
      	<li>because you were asked</li>
      	<li>to build your resume</li>
      	<li>to be an agent of change</li>
      	<li>because of personal experience with the problem, illness, or cause</li>
      	<li>to stand up and be counted</li>
      </ul>
      <p>We recognised that volunteers will continue to serve as long as they feel that your efforts are accomplishing something, that their talents are appreciated, and that they made a difference.</p>
    </accordion-group>
    <accordion-group is-open="status.open4">
      <accordion-heading>
        Who should support Love Action Project?
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open4, 'glyphicon-chevron-right': !status.open4}"></i>
      </accordion-heading>
      <p><strong>Everyone!</strong> At Love Action Project, we seek to provide a range of projects to benefit a wide range of companies who wish to support charity organisations and give back to the community. Especially if you are looking to flex your creative muscles, showcase your hidden talents or simply to just give back to the society, volunteer with our projects now.</p>
      <p>Bookmark our Website or Like our Facebook page, and visit us regularly to check if we have any upcoming projects!</p>
    </accordion-group>
    <accordion-group is-open="status.open5">
	    <accordion-heading>
	      What do Volunteers return to Love Action Project?
	      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open5, 'glyphicon-chevron-right': !status.open5}"></i>
	    </accordion-heading>
	    <p>It’s an addiction that has no cure, gives heartwarming highs and somber lows, and has people going to the ends of the earth to find it: volunteerism.</p>
	    <p>Volunteering is addictive, especially volunteering for a cause you believe in. At Love Action Project, the projects that we run are for a wide variety of causes. People can choose to volunteer for the causes that they feel most passionate about or simply open their mind and expose themselves to the range of societal needs of our community. At the same time, we seek to put like-minded people together; individuals who are outgoing and fun-loving, and who are able to contribute their time and expertise .</p>
	  </accordion-group>
  </accordion>
  <br>
  <h5>Volunteering</h5>
  <accordion close-others="true">
    <accordion-group is-open="status.open12">
      <accordion-heading>
        How do I know the project creators in Love Action Project are who they claim they are?
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open12, 'glyphicon-chevron-right': !status.open12}"></i>
      </accordion-heading>
      <p>The reason why we use Facebook Sign In is because genuine Facebook accounts are hard to fake. The Love Action Project team will contact the project creator and validate the project ideas and the people behind it. Perhaps you know the friends of the creator, or you heard about the project from a trusted source, all these will also add credibility to the project creators and their projects.</p>
      <p>Still not sure? At the end of the day, use your internet street smarts, the web is an invaluable resource for learning more about the creators.</p>
    </accordion-group>
    <accordion-group is-open="status.open7">
      <accordion-heading>
        What do I do if I have questions about a project?
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open7, 'glyphicon-chevron-right': !status.open7}"></i>
      </accordion-heading>
      <p>Post a comment on the project page. Very often, the questions you have are also in the mind of fellow volunteers, so post a comment on the project page and the project creator and the Love Action Project Team will answer them.</p>
    </accordion-group>
  </accordion>
  <br>
  
	<h5>Projects</h5>
  <accordion close-others="true">
    <accordion-group is-open="status.open6">
    	<accordion-heading>
        What are the basics?
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open6, 'glyphicon-chevron-right': !status.open6}"></i>
      </accordion-heading>
      <p>A <strong>project</strong> is a finite event with a clear charitable goal that you would like to bring to life. Think carnivals, celebrations, or concerts for orphanages and elders home.</p>
      <p>The <strong>volunteer target</strong> is the number of volunteers that a project creator needs for their project.</p>
      <p>A <strong>creator</strong> is the person or team behind the project idea; working to bring it to life.</p>
      <p><strong>Volunteers</strong> are folks who agrees to join creators in bringing the projects to life.</p>
      <p>Facebook Accounts are used to create Love Action Project Accounts. Visit <a href="whyfb">Why Facebook Logins</a> to find out why are prefer to use Facebook Accounts.</p>
    </accordion-group>
    <accordion-group is-open="status.open7">
    	<accordion-heading>
        What are the project criteria?
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open7, 'glyphicon-chevron-right': !status.open7}"></i>
      </accordion-heading>
      <p>All projects in Love Action Projects are to be secular and non-political. The projects are also not to seek monetary donations from the volunteers.</p>
    </accordion-group>
    <accordion-group is-open="status.open8">
    	<accordion-heading>
        What are the rules to starting a project?
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open8, 'glyphicon-chevron-right': !status.open8}"></i>
      </accordion-heading>
      <p>There are three rules every Love Action Project project must follow. For more information, visit <a href="#/rules">rules</a>.</p>
      <ul>
      	<li>Projects are a one time event that has a altruism aim</li>
      	<li>Projects must be honest and clearly presented</li>
      	<li>Projects can’t offer financial incentives</li>
      </ul>
    </accordion-group>
  </accordion>
</div>