<div class="footer">
  <div class="sheet"></div>
  <div class="container">
    <div class="row col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="sidebar-nav">
        <h3>Projects</h3>
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#/discover">Discover Projects</a></li>
          <li><a href="#/start">Start a Project</a></li>        
        </ul>
      </div>
    </div>
    <div class="row col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="sidebar-nav">
        <h3>About Us</h3>
        <ul class="nav navbar-nav">
          <li><a href="#/about">What is Love Action Project?</a></li>
          <li><a href="#/rules">Our Rules</a></li>          
          <li><a href="#/whoweare">Who we are</a></li>
          <li><a href="#/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="row col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="sidebar-nav">
        <h3>Support</h3>
        <ul class="nav navbar-nav">
          <li><a href="#/whyfb">Why Facebook Sign Ins?</a></li>  
          <li><a href="#/guide">Guide to Starting a Project</a></li>          
          <li><a href="#/faq">FAQ</a></li>
          <li><a href="#/safety">Trust and Safety</a></li>
          <li><a href="#/privacy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="row col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="fb-like-box" data-href="https://www.facebook.com/loveactionproject" data-colorscheme="light" data-show-faces="true" data-header="false" data-show-border="true" data-height="240" data-width="290"></div>
    </div>
  </div>

  <div class="container powered">
    <p>♥ from the Love Action Project team <span class="pull-right"><a href="http://ruler.technology">Powered by Ruler Technology</a></span></p>
  </div>
</div>