<div class="container">
	<div class="row">
		<h3>Guide to starting a Project</h3>
		<p>A project is a finite event with a clear charitable goal that you would like to bring to life. Think carnivals, celebrations, or concerts for orphanages, elders home or animals shelter.</p>
		<p>Every project should have the following:</p>
		<ul>
			<li>A project page with a project banner and description that clearly explains the idea behind your project</li>
			<li>Number of volunteers required and a description of how they will be involved</li>
			<li>Updates that share the creative journey as the project comes to life</li>
		</ul>
		<p>Let’s talk through each of these one by one. We will get started with your idea — where it all begins.</p>
	</div>
	
	<div class="row well well-sm">
		<div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
			<h1>
				<span class="fa-stack fa-lg fa-2x">
				  <i class="fa fa-circle fa-stack-2x text-success"></i>
				  <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
				</span>
			</h1>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
			<h1>Your Idea</h1>
			<p>It all starts with an altrusitic idea - an event you are looking to create to help the community. Inspire excitement for your idea. It also helps to keep your project focused, with a clear vision.</p>
			<p>If you have any doubts, <a href="#/contact">run your ideas</a> by us; we can get the right organisation on board and even get a organising team to work with you to start your project.</p>
		</div>
		<div class="hidden-xs col-sm-5 col-md-5 col-lg-5 text-center">
			<h1>
				<span class="fa-stack fa-lg fa-2x">
				  <i class="fa fa-circle fa-stack-2x text-success"></i>
				  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span>
			</h1>
		</div>
	</div>

	<div class="row well well-sm">
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 text-center">
			<h1>
				<span class="fa-stack fa-lg fa-2x">
				  <i class="fa fa-circle fa-stack-2x text-success"></i>
				  <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
				</span>
			</h1>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
			<h1>Starting the Project</h1>
			<p>A project page will be created when you <a href="#/start">start a project</a>. This is where you will share the details of the project. Use your project banner image and description to quickly and clearly communicate what you are trying to do and why you are doing it. It would be good to: </p>
			<ul>
				<li>Introduce yourself and any teammates involved with your project.</li>
				<li>Tell the story behind your project. Share any progress you have made so far; any photos or videos, organisations you are collaborating with or any other projects you have done. Potential volunteers appreciate these kinds of details.</li>
				<li>Most importantly, have fun with it! This is your chance to shine.</li>
			</ul>
		</div>
	</div>

	<div class="row well well-sm">
		<div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
			<h1>
				<span class="fa-stack fa-lg fa-2x">
				  <i class="fa fa-circle fa-stack-2x text-success"></i>
				  <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
				</span>
			</h1>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
			<h1>Communicate</h1>
			<p>Throughout the life of your project, you will be communicating extensively with the Love Action Project Team, the organisations involved and the people who volunteered. Treat the project page like your project blog; this is how everyone can follow along from start to finish. Being part of this journey is also how the volunteers feel engaged with your cause and your project.</p>
		</div>
		<div class="hidden-xs col-sm-5 col-md-5 col-lg-5 text-center">
			<h1>
				<span class="fa-stack fa-lg fa-2x">
				  <i class="fa fa-circle fa-stack-2x text-success"></i>
				  <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
				</span>
			</h1>
		</div>
	</div>

	<div class="row well well-sm">
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 text-center">
			<h1>
				<span class="fa-stack fa-lg fa-2x">
				  <i class="fa fa-circle fa-stack-2x text-success"></i>
				  <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
				</span>
			</h1>
			<h1 class="hidden-xs">
				<span class="fa-stack fa-lg fa-2x">
				  <i class="fa fa-circle fa-stack-2x text-success"></i>
				  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
				</span>
			</h1>
			<h1 class="hidden-xs">
				<span class="fa-stack fa-lg fa-2x">
				  <i class="fa fa-circle fa-stack-2x text-success"></i>
				  <i class="fa fa-users fa-stack-1x fa-inverse"></i>
				</span>
			</h1>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
			<h1>Promote</h1>
			<p>The goal in any case is to get people as excited as you are about your project and make them feel like they will be taking part in something special.</p>
			<h3>Announce your project</h3>
			<p>Send an email to your close friends and family so they can be the first to volunteer, then share the project on social media. Give a short description of your project and highlight your cause. Be concise — and do not forget to include the link to your project page!</p>
			<h3>Nothing beats having a personal touch</h3>
			<p>A nice, personal message is the most effective way to let someone know about your project. It helps to break down your contact list into smaller groups and tailor your message to each audience. After you have sent out your big emails and posted your project to social media, you can follow up with people individually. Try highlighting very specific things about the project you think each individual might like.</p>
			<h3>Pitch your cause</h3>
			<p>Writers and bloggers are always looking for new stories and ideas. There is no magic script to get them to write about you or your project, but your best bet is to focus on who you are and what you are trying to create. Pitch your idea, your cause, and how your project fit in with the broader context of your community.</p>
			<h3>Reach out to related communities</h3>
			<p>There are dozens of organisations and groups out there who share the same cause as your project. It is a good idea to tell them about your project and ask them to share with people in their network.</p>
		</div>
	</div>

	<div class="row well well-sm">
		<div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
			<h1>
				<i class="fa fa-pencil-square-o fa-4x text-success"></i>
			</h1>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
			<h1>Updates</h1>
			<p>As your project begins to take shape, you should update your project page. Engage your audience and potential volunteers by updating your progress on the project page. After all, they are the ones who will make your project successful.</p>
			<h3>Updates that build momentum</h3>
			<p>While your project is live, keep your audience informed about new developments and volunteer targets. It will inspire them to help you spread the word. Your project is like a story that is unfolding before their eyes. Detailed updates like “Pics from the meeting with The Elders Home” or “We found a sponsor for our T-shirts” are fun for everybody to follow along with.</p>
			<p>Also, once your project page is live, you will begin to receive a steady stream of comments and messages from potential volunteers. Remember to check in frequently and respond to individual concerns.</p>
			<h3>Updates that share the process</h3>
			<p>Keep volunteers updated with your project’s progress and all the creative decisions you are making. You can even use updates to ask your volunteers for feedback and suggestions. Keeping volunteers informed is an essential part of Love Action Project. Even if things are not going according to plan, you should definitely keep your volunteers in the loop!</p>
		</div>
		<div class="hidden-xs col-sm-5 col-md-5 col-lg-5 text-center">
			<h1>
				<i class="fa fa-pencil-square-o fa-4x text-success"></i>
			</h1>
			<h1>
				<span class="fa-stack fa-lg fa-2x">
				  <i class="fa fa-circle fa-stack-2x text-success"></i>
				  <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
				</span>
			</h1>
			<h1>
				<i class="fa fa-bar-chart-o fa-4x text-success"></i>
			</h1>
		</div>
	</div>

	<div class="row well well-sm">
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 text-center">
			<h1>
				<span class="fa-stack fa-lg fa-2x">
				  <i class="fa fa-circle fa-stack-2x text-success"></i>
				  <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
				</span>
			</h1>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
			<h1>Closing</h1>
			<p>Finally after all the planning and coordinating, the event is over. But the story of your project does not end here. Don't forget to:</p>
			<ul>
				<li>Share reviews, press, and photos of your project, post them on <a href="https://www.facebook.com/LoveActionProject">our Facebook Page</a></li>
				<li>Cherish these last moments of a job well done and give yourself a pat on the back</li>
				<li>And, Start a New Project!</li>
			</ul>
		</div>
	</div>
</div>