<div class="container">
	<h3>Trust and Safety</h3>
	<p class="lead">Whether you’re thinking of volunteering in a project or starting one, here are some ways you can help make sure your experience on Love Action Project is a great one.</p>
	<br>
	<div class="well well-sm">
		<h3>What everyone should know.</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>We monitor the system.</h3> 
					<p>Trust is paramount for Love Action Project; which is why the Love Action Project team is always watching over the platform and reviewing reports from the community. It is people like you who help us make sure this is platform safe and effective.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>We take action.</h3> 
					<p>Sometimes that just means asking the project creators to fix a problem but when we find users or projects that abuse the system, we don’t hesitate to take them away.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>Some projects won’t go as planned.</h3> 
					<p>Even with our best efforts, a project may not work out the way everyone hopes. The Love Action Project Team have a remarkable track record, but nothing is guaranteed. So be reassured that we and the project creators are trying our best to realise the projects.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="well well-sm">
		<h3>What volunteers should know.</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-search fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>Explore the project page.</h3> 
					<p>It should tell you everything you need to know, including details about the project, information about the project creator and a random list of volunteers. Still, do read the comments (to see what others are saying) and look out for any updates.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-book fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>Read what others say.</h3> 
					<p>If you are not sure about something, you can look elsewhere on the web. Does the project creator have an online presence, or past work you can look at? Is the charity organisation a valid and trustworthy one? Do people say good things about them?</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-question fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>Ask questions.</h3> 
					<p>If there’s something you want to know about a project, ask the project creator — you can leave a comment at the bottom of each project page. You can also <a href="#/contact">contact</a> the Love Action Project Team and ask us any question. It is this open feedback system that helps us make sure no one’s trying to abuse the system.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="well well-sm">
		<h3>What project creators should know.</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-shopping-cart fa-stack-1x"></i>
						  <i class="fa fa-ban fa-stack-2x text-danger"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>Love Action Project is not a store to sell your products.</h3> 
					<p>People do not volunteer in our projects to buy things or even worst, help to sell your products. Volunteers are contributing their time and effort to give back to the community. We will be actively looking out for projects that exploits our kind-hearted volunteers (read <a href="#/rules">our rules</a>).</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>Be open.</h3> 
					<p>Let everyone know who you are and what you want to accomplish. You are asking people to work with you toward a common goal — and it is a lot easier for them to do that when they know your cause and where you are coming from.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-comment-o fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>Be responsive.</h3> 
					<p>Do your best to answer volunteers questions and address their concerns, quickly and thoroughly. It is a great way of showing people that you are reliable, available, and committed to your project.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>Be honest.</h3> 
					<p>Sometimes it is tempting to “sell” your project with a glossy pitch and assurances that the volunteer work will be easy. But volunteers can trust you much more when you are being straightforward and honest. Give them a real look at the work you are doing, and be frank about the work the volunteers are signing up for.</p>
				</div>
			</div>
		</div>
	</div>

	<br><br>

	<p class="lead">Love Action Project is a powerful tool for bringing altruistic ideas to life. It works best when volunteers, project creators and the Love Action Project Team communicate openly and honestly, and everyone is well informed. We hope you enjoy getting involved — and if there’s anything at all you need to know, just <a href="#/contact">talk to us</a>.</p>
</div>