<div class="container">
	<h3>Why we use your Facebook Credentials to create your Love Action Project Account</h3>

	<div class="well well-sm">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-star-o fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>Trust and Security</h3>
						  <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
					<p>Love Action Project is built on trust; using Facebook credentials for registering and signing in is one of our initiative to reduce fake users and potential fraud. It would be harder for someone to fake a genuine Facebook Account when compared to just an email address hence letting us build the community around genuine volunteers and project creators. This is by far the most important element of Facebook for us.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>Makes login incredibly easy for you</h3>
					<p>You don't have to create and remember yet another username and password. We can get the information we need for your profile without making you enter it again. The information that we get from your Facebook profile are:</p>
					<ul>
						<li>Your name</li>
				    <li>Your email address (kept private, never spammed)</li>
				    <li>Your profile picture</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
					<h2>
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
					<h3>Information we do NOT use</h3>
					<p>We treasure your privacy hence we DO NOT use: </p>
					<ul>
						<li>Any information about your friends</li>
				    <li>Your wall posts or news feed</li>
				    <li>Anything and everything else that is not relevant to the purpose of this site</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<p>It was a very difficult decision for us to go with Facebook, one that we didn’t take lightly. In fact, we agonised over it almost right up until we launched, and kept asking friends, colleagues and past volunteers for their input. No one offered a strong enough counter-argument to Facebook though, and so we stuck with the decision.</p>
	<p>We also realise that our answers will not change the minds of people who are dead-set against using Facebook. Nevertheless, we value and pay close attention to all the feedback we receive, and it pains us to know that some people will dismiss Love Action Project solely because of our login system. <strong>So if you feel strongly against using our Facebook Sign In system, <a href="#/contact">contact us</a> and we will help to create an account for you separately.</strong></p>
</div>